.user-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 2rem;
}
.user-wrapper {
  width: 350px;
  background: var(--grey);
  border-radius: 7px;
  padding: 14px;
  cursor: pointer;
  h4 {
    font-size: 2rem;
  }
  p {
    font-size: 1.3rem;
    padding: 10px 0;
  }
  h5 {
    font-size: 0.85rem;
    padding: 5px 0;
  }
  .role {
    color: var(--main-color);
  }

  @media screen and (max-width: 500px) {
    width: 80%;
    background-color: var(--success);
  }
}
